body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.form {
  width: 400px;
  margin: auto;
  padding-top: 200px;
}

.card {
  box-shadow: 1px 1px 5px rgb(248, 167, 167);
  background-color: rgb(250, 214, 214);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(255, 0, 0);
}

.card-top {
  text-align: center;
}

.card-group {
  margin-bottom: 10px;
  text-align: left;
  display: flexbox;
}

.card-group > label {
  width: 100%;
  color: rgb(255, 0, 0);
  justify-content: space-between;
  flex-direction: row;
}

.card-group > input {
  border-radius: 5px;
  width: 96%;
  height: 25px;
  padding: 5px;
}

.card-group > button {
  background-image: linear-gradient(
    to right,
    rgb(252, 40, 40),
    rgb(252, 116, 116)
  );
  width: 100%;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.btn button:hover {
  background-image: linear-gradient(
    to right,
    rgb(247, 149, 149),
    rgb(252, 20, 20)
  );
  font-weight: bold;
}

.imglogin {
  border-radius: 300px;
  width: 80px;
  box-shadow: 10px 10px 5px rgb(255, 121, 121);
}

.title {
  color: rgb(255, 0, 0);
  font-size: 30px;
  margin: 10px 0;
}
.p {
  color: rgb(255, 0, 98);
}

.card-group.remember-me {
  text-align: center; /* Centraliza o link "Esqueci a senha" */
  margin-top: 10px;
}

.card-group.remember-me a {
  color: #ff0000; /* Cor desejada para o texto */
}

.login {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-image: url("plano de fundo segunda tela.jpg");
}
.logged {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-image: url("plano de fundo segunda tela.jpg");
}

.logo {
  width: 150px; /* Largura da logo */
  height: auto; /* Altura ajustável para manter a proporção da imagem */
  display: block; /* Torna a imagem um bloco para alinhamento fácil */
  margin: 20px auto; /* Margem superior e inferior de 20px, alinhamento central horizontal */
  border-radius: 300px;
  width: 150px;
  box-shadow: 10px 10px 5px rgb(255, 132, 132);
}

.content {
  max-width: 800px; /* Largura máxima do conteúdo */
  margin: 0 auto; /* Alinhamento central horizontal */
  padding: 0 20px; /* Preenchimento interno de 20px */
  color: rgb(253, 88, 76);
}

.menu {
  background-color: #ff8888; /* Cor de fundo do menu */
}

.menu ul {
  list-style-type: none; /* Remove os marcadores da lista */
  margin: 0;
  padding: 0;
  display: flex; /* Exibe os itens de menu em linha */
}

.menu ul li:last-child {
  margin-right: 15px; /* Espaçamento entre os itens de menu */
}

.menu ul li a {
  display: block;
  color: rgb(255, 255, 255); /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  padding: 15px 200px; /* Espaçamento interno */
  text-decoration: none; /* Remove o sublinhado padrão */
}

.menu ul li a:hover {
  background-color: #fa5e5e; /* Cor de fundo ao passar o mouse */
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product {
  text-align: center;
  width: 150px;
  margin: 20px;
}

.product img {
  width: 100px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-image {
  width: 200px;
  height: auto;
  cursor: pointer; /* Altera o cursor para indicar que a imagem é clicável */
}
