body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.form {
  width: 400px;
  margin: auto;
  padding-top: 200px;
}

.card {
  box-shadow: 1px 1px 5px rgb(171, 38, 233);
  background: linear-gradient(135deg, #290275 0%, #f50591 100%);
  opacity: 65%;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(255, 5, 222);
}

.card-top {
  text-align: center;
}

.card-group {
  margin-bottom: 10px;
  text-align: left;
  display: flexbox;
}

.card-group > label {
  width: 100%;
  color: rgb(255, 255, 255);
  justify-content: space-between;
  flex-direction: row;
}

.card-group > input {
  border-radius: 5px;
  width: 96%;
  height: 25px;
  padding: 5px;
}

.card-group > button {
  background-image: linear-gradient(
    to right,
    rgb(106, 7, 172),
    rgb(243, 109, 255)
  );
  width: 100%;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.btn button:hover {
  background-image: linear-gradient(
    to right,
    rgb(208, 137, 226),
    rgb(100, 4, 138)
  );
  font-weight: bold;
}

.imglogin {
  border-radius: 300px;
  width: 80px;
  box-shadow: 10px 10px 5px rgb(253, 7, 253);
}

.title {
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin: 10px 0;
}
.p {
  color: rgb(253, 253, 253);
}

.card-group.remember-me {
  text-align: center; /* Centraliza o link "Esqueci a senha" */
  margin-top: 10px;
}

.card-group.remember-me a {
  color: #ffffff; /* Cor desejada para o texto */
}

.login {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-image: url("plano de fundo segunda tela.jpg");
}
.logged {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-image: url("plano de fundo segunda tela.jpg");
}

.banner {
  display: flex; /* Torna a imagem um bloco para alinhamento fácil */
  height: 225px;
  background: linear-gradient(135deg, #8c52ff 0%, #ff914d 100%);
  opacity: 65%;
}

.logo-img {
  margin: 0 auto;
  border-radius: 150px;
}
.content {
  max-width: 800px;
  margin: 0 auto; /* Alinhamento central horizontal */
  padding: 0 20px; /* Preenchimento interno de 20px */
  color: rgb(253, 88, 76);
}

.menu {
  background-color: #ff8888; /* Cor de fundo do menu */
  display: flex;
  justify-content: center;
}

.menu ul {
  list-style-type: none; /* Remove os marcadores da lista */
  margin: 0;
  padding: 0;
  display: flex; /* Exibe os itens de menu em linha */
}

.menu ul li:last-child {
  margin-right: 15px; /* Espaçamento entre os itens de menu */
}

.menu ul li a {
  display: flex;
  color: rgb(255, 255, 255); /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  padding: 15px 100px; /* Espaçamento interno */
  text-decoration: none; /* Remove o sublinhado padrão */
}

.menu ul li a:hover {
  background-color: #f55d5d; /* Cor de fundo ao passar o mouse */
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  position: absolute;
  width: 100vw;
  margin-top: 70px;
}
.product:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.product {
  text-align: center;
  transition: transform 0.2s;
  
}

.product img {
  border-radius: 10px;
  margin-bottom: 10px;
  height: 300px;
}
